<div class="grid_2">
  Voting and Such
</div>
<div class="grid_12 recipe">
  <h1>{{ object.name }}</h1>
  <div class="meta">a <span class="category">{{ object.category.name }}</span> best served in a <span class="container">{{ object.container.name }}</span> container.</div>
  <ul>
    {% if object.description %}
      <li>{{ object.description }}</li>
    {% endif %}

  </ul>
  <ul>
  {% for x in object.recipeitem_set.all %}
    <li>{{ x }}</li>
  {% endfor %}
  </ul>
  <p>{{ object.directions }}</p>
  
</div>

<div class="clear">&nbsp;</div>



