<div class="grid_2 rating">
<h5>Overall</h5>
<input name="star1" type="radio" class="star" disabled="disabled" {% ifequal object.rating.score 1 %}checked="checked"{% endifequal %}/>
<input name="star1" type="radio" class="star" disabled="disabled" {% ifequal object.rating.score 2 %}checked="checked"{% endifequal %}/>
<input name="star1" type="radio" class="star" disabled="disabled" {% ifequal object.rating.score 3 %}checked="checked"{% endifequal %}/>
<input name="star1" type="radio" class="star" disabled="disabled" {% ifequal object.rating.score 4 %}checked="checked"{% endifequal %}/>
<input name="star1" type="radio" class="star" disabled="disabled" {% ifequal object.rating.score 5 %}checked="checked"{% endifequal %}/>
<br>

{% if user.is_authenticated %}
<h5>You</h5>
<input name="star2" type="radio" class="star enabled-star" {% ifequal vote 1 %}checked="checked"{% endifequal %}/>
<input name="star2" type="radio" class="star enabled-star" {% ifequal vote 2 %}checked="checked"{% endifequal %}/>
<input name="star2" type="radio" class="star enabled-star" {% ifequal vote 3 %}checked="checked"{% endifequal %}/>
<input name="star2" type="radio" class="star enabled-star" {% ifequal vote 4 %}checked="checked"{% endifequal %}/>
<input name="star2" type="radio" class="star enabled-star" {% ifequal vote 5 %}checked="checked"{% endifequal %}/>
{% else %}
<a href="/account/login/?next={% url recipe_detail object.slug %}">Login to Rate!</a>
{% endif %}
<br>

{% if recent_votes %}
<h5>Recent</h5>
{% for recent_vote in recent_votes %}
<p><strong><a href="{{ recent_vote.user.get_absolute_url }}">{{ recent_vote.user.username }}</a></strong></p>
<input name="star_{{forloop.counter}}" type="radio" class="star" disabled="disabled" {% ifequal recent_vote.score 1 %}checked="checked"{% endifequal %}/>
<input name="star_{{forloop.counter}}" type="radio" class="star" disabled="disabled" {% ifequal recent_vote.score 2 %}checked="checked"{% endifequal %}/>
<input name="star_{{forloop.counter}}" type="radio" class="star" disabled="disabled" {% ifequal recent_vote.score 3 %}checked="checked"{% endifequal %}/>
<input name="star_{{forloop.counter}}" type="radio" class="star" disabled="disabled" {% ifequal recent_vote.score 4 %}checked="checked"{% endifequal %}/>
<input name="star_{{forloop.counter}}" type="radio" class="star" disabled="disabled" {% ifequal recent_vote.score 5 %}checked="checked"{% endifequal %}/>
<br>
{% endfor %}
{% endif %}


</div>
<div class="grid_12 recipe">
  <input type="hidden" name="slug" id="slug" value="{{ object.slug }}">
  <h1>{{ object.name|upper }}</h1>
  <div class="meta"><span class="category">{{ object.category.name|upper }}</span> drink best served in a <span class="container">{{ object.container.name|upper }}</span>.</div>
  <ul>
    {% if object.description %}
      <li>{{ object.description }}</li>
    {% endif %}

  </ul>
  <ul>
  {% for x in object.recipeitem_set.all %}
    <li>{{ x }}</li>
  {% endfor %}
  </ul>
  <p>{{ object.directions }}</p>
  
</div>

<div class="clear">&nbsp;</div>



