body {
  background: #051b39;
  border-top: 5px solid #aaa;
}

/*** HEADER ***/
div#tabhead {
  background: url(../images/topback.png) repeat-x;
  border-top:none;
  height:75px;
  margin-top:20px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
}

#tabhead .login {
  color:#fafafa;
}

#tabhead div.login a, #tabhead div.login a:visited {
  color:#fafafa;
}

#tabhead .logo {
  font-size: 16pt;
  font-family: Helvetica, Arial, sans-serif;
  height:auto;
}

#tabhead .logo img {
  width:250px;
  height:50px;
}
div.logo a {
  color:#000;
  text-decoration: none;
  text-transform: lowercase;
}

div.login {
  text-align:right;
}

#header_actions {
  position: absolute;
  bottom:0;
}

#superbar {
  background: url('../images/searchbg.png') repeat-x;
  -webkit-border-radius: 5px 5px 0px 0px !important;
}
#superinput {
    text-align: center;
    margin:0px;
    height:30px;
    width:100%;
    border: none;
    color: #333;
    font-size: 12pt;
    background:none;
    
}


div#content_wrapper {
  background: #fff;
}

/*** NAV ***/
#subnav {
  background: #d5d5d5;
  border-bottom:none;
  border-top:none;
}




/*** FOOTER ***/
#sitefooter {
  background:#aaa;
}

/*** UTILITY ***/
.sideborder {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.topround {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
}

.bottomround {
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
}