body {
  background: #051b39;
  border-top: 5px solid #444;
}

/*** HEADER ***/
div#tabhead {
  background: none;
  border:none;
  height:80px;
  margin-top:5px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
}

#tabhead .login {
  color:#fafafa;
}

#tabhead div.login a, #tabhead div.login a:visited {
  color:#fafafa;
}

#tabhead .logo {
  font-family: Helvetica, Arial, sans-serif;
  height:auto;
}

#tabhead .logo img {
  width:34px;
  height:40px;
}
div.logo h1 a {
  font-family: 'Vollkorn', arial, serif;
  font-weight: normal;
  font-size: 36pt;
  color:#fafafa;
  text-shadow: #000 2px 2px 0px;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  
}

div.login {
  text-align:right;
}

#header_actions {
  position: absolute;
  bottom:0;
}

#superbar {
  background: url(../images/topback.png) repeat-x;
  padding-top:5px;
  height:48px;
  -webkit-border-radius: 5px 5px 0px 0px !important;
}
.superbutton {
    overflow:none;
}
.superbutton a {
    color:#000;
    text-decoration: none;
    font-weight: bold;
    text-shadow: #fff 0px 1px 0px;
    font-size: 10pt;
    padding:12px;
    -webkit-border-radius: 5px;
    float:left;
    margin-right:5px;
    background:#aaa;
    border: 1px solid #bbb;
}

.superbutton a:hover {
    background: #d5d5d5;
}

#superinput {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-border-radius: 5px;
    background: #f6f6f6;
    text-align: center;
    margin:0px;
    height:40px;
    width:100%;
    color: #000;
    font-size: 13pt;
    font-weight:bold;
    padding:0px;
}


div#content_wrapper {
  background: #fff;
}

/*** NAV ***/
#subnav {
  background: #d5d5d5;
  border-bottom:none;
  border-top:none;
}


/*** DRINKS ***/
div.drink.list_large h3 {
    font-size:14pt;
    margin-bottom:0px;
}
div.drink.list_large h3 a {
    color:#222;
}



/*** FOOTER ***/
#sitefooter {
  background:#fff;
  padding-top:15px;
  padding-bottom:15px;
}

/*** UTILITY ***/
.sideborder {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.topround {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
}

.bottomround {
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
}

/*** DEFAULT TEXT ***/
.defaultText { 

}
.defaultTextActive {
    color: #a1a1a1; font-style: italic;
}	