{% load i18n ifsetting_tag account_tags openid_tags %}
<ul class="user_options">
  {% if user.is_authenticated %}
    {% if user.is_staff %}
    <li>
        <a href="/admin/">Admin</a>
    </li>
    {% endif %}
    <li>
      <a href="{% url create_recipe %}">Submit a Drink</a>
    </li>
    <li>
      <a href="{% url acct_email %}">Manage Account</a>
    </li>
    <li>
      <a href="{% if request.openid %}/openid/logout/?next={% url acct_logout %}{% else %}{% url acct_logout %}{% endif %}">Logout</a>
    </li>
  {% else %}
    <li>
      <a href="{% url acct_signup %}">Create an Account</a>
    </li>
    <li>
      <a href="{% url acct_login %}">Log in</a>
    </li>

  {% endif %}
</ul>
