{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}finding beverages. quickly.{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <div class="grid_6">
      <img src="{{ STATIC_URL }}images/cocktail-notfree-changeme.jpg" />
    </div>
    <div class="grid_10">
      <h1>Drinkfindr</h1>
      <h2>Because you need to drink more.</h2>
      <p>
	You're not the first person to discover it's 10 AM and you're
	holding a forty of malt liquor in one hand and a carton of
	orange juice in the other. No, that isn't your invention,
	it's a Brass Monkey.
      </p>

      <h2>And you might as well drink better.</h2>
      <p>
	From the illustrious <a href="/recipe/martini--dry-/">dry Martini</a> to the heavenly sweetness of a
	<a href="/recipe/banana-daiquiri/">Banana Daiquiri</a>, there are drinks for every taste, and even if
	you've forgotten to go shopping in a couple of weeks you still probablly have the ingredients to pull
	something together.
      </p>

      <h2>Plus, sharing is beautiful.</h2>

      <p>
	Working together we can catalog and rank the world's tastiest cocktails faster,
	and also have an encyclopedic reference for those tragic times when guests
	insist a Gin Tonic isn't the perfect drink for all occasions.
      </p>
        
    </div>

    
{% endblock %}
