{% extends "base.html" %}

{% load i18n %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/elesma.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<h1><a href="/"><img src="{{ STATIC_URL }}images/smalldrink.png" />drinkfindr</a></h1>{% endblock %}

{% block login %}
    {% include "_account_bar.html" %}
{% endblock %}

{% block footer %}
<div class="legal grid_16">
    &copy;2010 Team Dialed En
</div>
{% endblock %}
